body{
margin:0;
padding:0;
background:#000;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
color:white;
overflow:hidden;
}

.container{
text-align:center;
}

#heart{
font-size:120px;
cursor:pointer;
transition:.5s;
animation:beat 1s infinite;
}

#heart:hover{
transform:scale(1.2);
}

@keyframes beat{

0%{transform:scale(1);}
50%{transform:scale(1.15);}
100%{transform:scale(1);}

}

h2{
margin-top:20px;
}

p{
opacity:.8;
}
